In [1]:
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import emoji

In [2]:
import nltk

In [3]:
from googletrans import Translator

In [4]:
# import full dataset
raw = pd.read_csv('../raw_data/all_data.csv')
raw.head()

,Username,Follower count:,Post ID,Media Type:,Caption,Likes,Comments,Timestamp,Tags
0,newbalance,7074908,3.112660e+18,2,Together in sport. 2023. #WeGotNow,26534,333,2023-05-28 12:58:40+00:00,5
1,newbalance,7074908,3.088760e+18,2,IU. Seoul. 2023. #WeGotNow,53742,1100,2023-04-25 13:14:48+00:00,1
2,newbalance,7074908,3.052450e+18,2,"Same game, just played his way. Shohei Ohtani....",357969,1678,2023-03-06 11:03:46+00:00,2
3,newbalance,7074908,3.155460e+18,8,Introducing the debut collaborative project fr...,28796,173,2023-07-26 14:05:00+00:00,2
4,newbalance,7074908,3.148920e+18,8,Ready to take on the world.,5289,68,2023-07-17 13:32:36+00:00,6

In [5]:
#all columns
raw.columns

Index(['Username', 'Follower count:', 'Post ID', 'Media Type:', 'Caption',
       'Likes', 'Comments', 'Timestamp', 'Tags'],
      dtype='object')

In [6]:
#missing values in features 
missing = pd.concat([raw.isnull().sum(), 100 * raw.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                 count    %
Username             0  0.0
Follower count:      0  0.0
Post ID              0  0.0
Media Type:          0  0.0
Caption              0  0.0
Likes                0  0.0
Comments             0  0.0
Timestamp            0  0.0
Tags                 0  0.0

Process Captions

In [7]:
#translate any words that may not be English

def translate_non_english(text, translator):
    translated_words = []
    words = text.split()
    
    for word in words:
        if translator.detect(word).lang != 'en':
            translated_word = translator.translate(word, dest='en').text
            translated_words.append(translated_word)
        else:
            translated_words.append(word)
    
    return ' '.join(translated_words)

In [8]:
#cleaning text 
def clean_text(text):
    
    # Initialize a Translator instance
    translator = Translator()
    
    # Translate non-English words
    translated_text = translate_non_english(text, translator)
    
    # Convert to lowercase
    translated_text = translated_text.lower()
    
    # Remove punctuation
    translated_text = translated_text.translate(str.maketrans('', '', string.punctuation))
    
    # Tokenize text
    tokens = word_tokenize(translated_text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    
    return ' '.join(filtered_tokens)

In [9]:
text = "This is an example sentence with punctuation! Él corre en el parque."
cleaned_text = clean_text(text)
print(cleaned_text)  # Output: example sentence punctuation runs park

AttributeError: 'NoneType' object has no attribute 'group'

In [ ]:
#function for grabbing emojis and putting them in a 
def extract_emojis(text):
    emojis = [c for c in text if c in emoji.UNICODE_EMOJI]
    return emojis

In [ ]:
# Example usage
#text = "I love Python! 😃🐍🚀"
#emojis = extract_emojis(text)
#print(emojis)  # Output: ['😃', '🐍', '🚀']

In [ ]:
#putting each item in the comments row through

In [ ]:
# save the data to a new csv file

from library.sb_utils import save_file

datapath = '../data'
save_file(features, 'features_data_cleaned.csv', datapath)